<aside class="sidebar">
  <div class="logo">
    <div class="logo-icon">🎓</div>
    <div class="logo-text">
      <strong>Université</strong><br />des interfaces
    </div>
  </div>
  <nav>
    <a routerLink="/" routerLinkActive="active">
      🦸 <span class="text">Edition heroes</span>
    </a>
    <a routerLink="/calendar" routerLinkActive="active">
      🗡️ <span class="text">Edition armes</span>
    </a>
    <a routerLink="/groups" routerLinkActive="active">
      👥 <span class="text">Mes groupes</span>
    </a>
    <a routerLink="/salles" routerLinkActive="active">
      🏫 <span class="text">Réserver une salle</span>
    </a>
    <a routerLink="/rendus" routerLinkActive="active">
      📁 <span class="text">Mes rendus</span>
    </a>
    <a routerLink="/retards" routerLinkActive="active">
      ⏰ <span class="text">Retards</span>
    </a>
  </nav>
</aside>


